.menuBtn {
  position:absolute;
  display:flex;
  overflow-y: hidden;
  top:3vh;
  left:-1.5vw;
  background-color: blueviolet;
  color:white;
  width:15vw;
  height:15vw;
  justify-content: center;
  font-size: 12vw;
  vertical-align: middle;
  border-radius: 20%;
  border:none;
  z-index: -1;
}

.bubbleMenu{
  display:none;
  position:block;
  overflow-y: hidden;
  background-color: blueviolet;
  color:white;
  width:5vw;
  height:5vw;

  left:1.5vw;
  border-radius:50%;
  transform: scale(50,50) ;
  transition: transform 500ms ease-in;
}

.menuItems {
  display:none;
  position:fixed;
  width:50vw;
  left:15vw;
}

.menuItems  a {
  position:block;
  display:flex;
  font-size: 7vw;
  color:white;
  line-height: 7vh;
  
}

.menuBtn:active .bubbleMenu{
  transform: scale(76,76) ;
  transition: transform 1000ms ease-in-out;
}


.closeBtn {
  display:block;
  position: fixed;
  justify-content: center;
  height:100vh;
  top:75vh;
  align-items:center;
  margin: 0 auto;
  display:inline-block;
  text-align:center;
  width: 100vw;
}

.closeBtn button {

  background-color: blueviolet;
  width:10vh;
  height:10vh;
  border-radius: 50%;
  color:white;
  font-size: 20vw;
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  font-family:'Times New Roman', Times, serif;
  border:none;
  border-style: none;
  
}